<c-card>
   <div class="pos-container min-vh-100 p-3">
         <!-- Header -->
        <div class="card mb-4 shadow-sm rounded-3 bg-light border-0">
            <div class="card-body d-flex justify-content-between align-items-center flex-wrap py-3 px-4">
            <div class="d-flex align-items-center mb-2 mb-sm-0">
                <i class="fa-solid fa-bag-shopping fa-2x text-primary me-3"></i>
                 <h5 class="mb-0 fw-bold text-dark">{{ branchName }}</h5>
            </div>
            <div class="d-flex flex-column flex-sm-row flex-wrap text-end text-sm-start small">
                <div class="me-3 mb-1 mb-sm-0">
                <span class="fw-semibold text-muted">Kasir:</span>
                <span class="fw-bold text-dark">&nbsp;{{ kasirName }}</span>
                </div>
                <div>
                <span class="fw-semibold text-muted">Tanggal Transaksi:</span>
                <span class="fw-bold text-dark">&nbsp;{{ transactionDate }}</span>
                </div>
            </div>
            </div>
        </div>

    </div>
</c-card>