
.btn-primary {
  background-color: #2563eb !important;
  border: none;
}

.btn-outline-primary {
  border-color: #2563eb !important;
  color: #2563eb !important;

  &:hover {
    background-color: #2563eb !important;
    color: white !important;
  }
}
#print-section {
  width: 80mm;
  font-family: 'Courier New', monospace;
  font-size: 12px;
  color: #000;
}

#print-section table {
  width: 100%;
}

#print-section td {
  padding: 2px 0;
}
