
.btn-primary {
  background-color: #2563eb !important;
  border: none;
}

.btn-outline-primary {
  border-color: #2563eb !important;
  color: #2563eb !important;

  &:hover {
    background-color: #2563eb !important;
    color: white !important;
  }
}

