<c-card>
  <c-card-body>

    <app-widgets/>
    <!-- Tombol atas -->
    <div class="d-flex justify-content-end gap-2 mb-3 mt-3">
      <button class="btn btn-dark d-flex align-items-center">
         <svg [cIcon]="icons.cilPrint" width="16" height="16"></svg>&nbsp;&nbsp;&nbsp;Cetak
      </button>
    </div>

    <!-- Form filter dan pencarian -->
    <form>
      <div class="d-flex justify-content-between align-items-center">
        <div class="mb-0 mt-3">
          <select class="form-select form-select-sm w-auto">
            <option>5</option>
            <option>10</option>
            <option>25</option>
          </select>
        </div>
        <div class="position-relative w-25 mb-3 mt-3">
          <input
            type="text"
            class="form-control form-control ps-5"
            placeholder="Cari..."
          
          />
          <svg [cIcon]="icons.cilSearch" width="16" height="16" class="position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></svg>  
        </div>
      </div>
    </form>

    <!-- Tabel produk -->
    <div class="table-responsive" >
      <table [striped]="true" cTable class="align-middle">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Kategori Pengeluaran</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Nominal</th>
            <th scope="col">Pengguna</th>
            <th scope="col">Lampiran</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pengeluaran of pengeluarans; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ pengeluaran.tanggal | date:'dd/MM/yyyy' }}</td>
            <td>{{ pengeluaran.kategori_pengeluaran }}</td>
            <td>{{ pengeluaran.deskripsi }} </td>
            <td>{{ formatRupiah(pengeluaran.total) }}</td>
            <td>{{ pengeluaran.user }}</td>
            <td>{{ pengeluaran.lampiran }}</td>
            <td>
              <button class="icon-button me-2">
                <svg [cIcon]="icons.cilYen" width="16" height="16" class="text-primary"></svg>
              </button>
              <button class="icon-button me-2">
                <svg [cIcon]="icons.cilPrint" width="16" height="16" class="text-primary"></svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <p class="text-muted small mb-0">
          Menampilkan 1–{{ pengeluarans.length }} dari {{ pengeluarans.length }} hasil
      </p>

      <c-pagination aria-label="Page navigation example">
        <li cPageItem>
          <a cPageLink aria-label="Previous" [routerLink]><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>1</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>2</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>3</a>
        </li>
        <li cPageItem>
          <a cPageLink aria-label="Next" [routerLink]><span aria-hidden="true">&raquo;</span></a>
        </li>
      </c-pagination>
    </div>
   
  </c-card-body>
</c-card>
