<c-card >
  <c-card-body>
    <!-- Tombol atas -->
    <div class="d-flex justify-content-end gap-2 mb-3 mt-3">
      <button class="btn btn-dark d-flex align-items-center">
         <svg [cIcon]="icons.cilPrint" width="16" height="16"></svg>&nbsp;&nbsp;&nbsp;Cetak
      </button>
      <button
        type="button"
        class="btn d-flex align-items-center"
        (click)="openCreateProductModal()"
        style="background-color: #007bff; color: #fff; border: none;"
      >
        <svg [cIcon]="icons.cilPlus" width="16" height="16"></svg>&nbsp;&nbsp;&nbsp;Tambah Produk
      </button>
          <!-- panggil component yang kamu buat -->
          <app-create-product-components
          [visible]="visibleCreateProduct"
          (visibleChange)="visibleCreateProduct = $event">
          </app-create-product-components>
    </div>

    <!-- Form filter dan pencarian -->
    <form>
      <div class="d-flex justify-content-between align-items-center">
        <div class="mb-0 mt-3">
          <select class="form-select form-select-sm w-auto">
            <option>5</option>
            <option>10</option>
            <option>25</option>
          </select>
        </div>
        <div class="position-relative w-25 mb-3 mt-3">
          <input
            type="text"
            class="form-control form-control ps-5"
            placeholder="Cari Nama atau Kode Produk..."
          
          />
          <svg [cIcon]="icons.cilSearch" width="16" height="16" class="position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></svg>  
        </div>
      </div>
    </form>

    <!-- Tabel produk -->
    <div class="table-responsive" >
      <table [striped]="true" cTable class="align-middle">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Produk</th>
            <th scope="col">Kode Produk</th>
            <th scope="col">Kategori</th>
            <th scope="col">Harga Beli</th>
            <th scope="col">Harga Jual</th>
            <th scope="col">Stok</th>
            <th scope="col">Minimal Stok</th>
            <th scope="col">Tanggal Input</th>
            <th scope="col">Status</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ product.namaProduk }}</td>
            <td>{{ product.kodeProduk }}</td>
            <td>{{ product.kategori }}</td>
            <td>{{ formatRupiah(product.hargaBeli) }}</td>
            <td>{{ formatRupiah(product.hargaJual) }}</td>
            <td [ngClass]="{'text-danger': product.stok === 0}">{{ product.stok }}</td>
            <td>{{ product.minimalStok }}</td>
            <td>{{ product.tanggalInput }}</td>
            <td>
              <c-badge [color]="getStatusColor(product.status)">
                {{ product.status }}
              </c-badge>
            </td>
            <td>
              <button class="icon-button me-2">
                <svg [cIcon]="icons.cilPencil" width="16" height="16" class="color-blue"></svg>
              </button>
              <button class="icon-button">
                <svg [cIcon]="icons.cilTrash" width="16" height="16" class="text-danger"></svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <p class="text-muted small mb-0">
          Menampilkan 1–{{ products.length }} dari {{ products.length }} hasil
      </p>

      <c-pagination aria-label="Page navigation example">
        <li cPageItem>
          <a cPageLink aria-label="Previous" [routerLink]><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>1</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>2</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>3</a>
        </li>
        <li cPageItem>
          <a cPageLink aria-label="Next" [routerLink]><span aria-hidden="true">&raquo;</span></a>
        </li>
      </c-pagination>
    </div>
   
  </c-card-body>
</c-card>
