<c-card>
    <c-card-body>
      <app-widgets-dropdown/>
        <c-card class="my-4">
          <c-card-header>
            <c-row>
              <c-col sm="5">
                <h4 class="card-title mb-0" id="traffic">Pendapatan Harian</h4>
              </c-col>
            </c-row>
          </c-card-header>
          <c-card-body>
              <c-chart
              [data]="mainChart.data"
              [height]="300"
              [ngStyle]="{ 'marginTop.px': 40 }"
              [options]="mainChart.options"
              [type]="mainChart.type"
              (chartRef)="handleChartRef($event)"
              >
              Main chart
              </c-chart>
          </c-card-body>
        </c-card>

        

    
    
    </c-card-body>
</c-card>