<c-card>
  <c-card-body>

     <c-card class="mb-4 shadow-sm rounded-3 bg-light border-0">
        <c-card-body class="d-flex align-items-center py-3 px-4">
          <i class="fa-solid fa-bag-shopping fa-2x me-3" style="color: #007bff;"></i>
          <div class="d-flex align-items-center flex-wrap">
            <h5 class="mb-0 me-3 fw-semibold text-dark">
              Detail Bisnis Anda <span class="fw-bold">Coffee Mawang</span>, Pangkalpinang
            </h5>
            <span
              class="badge text-dark"
              style="background-color: #CDE0FE; border-radius: 0.5rem; padding: 6px 12px;"
            >
              Aktif
            </span>
          </div>
        </c-card-body>
      </c-card>


    <app-widgets/>

    <div class="d-flex justify-content-between align-items-center responsive-toolbar">
      <div class="mb-0 mt-3">
          <form class="position-relative d-inline-block">
            <input
              type="text"
              placeholder="Filter Periode"
              class="form-control ps-5"
              bsDatepicker
              [(ngModel)]="selectedDate"
              name="selectedDate">

            <svg
              [cIcon]="icons.cilCalendar"
              width="18"
              height="18"
              class="position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary">
            </svg>
          </form>
        </div>

      <div class="d-flex justify-content-end gap-3 mb-3 mt-3">
        <button class="btn btn-dark d-flex align-items-center">
          <svg [cIcon]="icons.cilPrint" width="16" height="16"></svg>&nbsp;&nbsp;&nbsp;Cetak
        </button>
      </div>
    </div>

    <!-- Form filter dan pencarian -->
    <form class="responsive-searchbar">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mb-3 mt-3">
          <select class="form-select form-select-sm w-auto">
            <option>5</option>
            <option>10</option>
            <option>25</option>
          </select>
        </div>

        <div class="position-relative w-25 mb-3 mt-3">
          <input
            type="text"
            class="form-control ps-5"
            placeholder="Cari..."
          />
          <svg
            [cIcon]="icons.cilSearch"
            width="16"
            height="16"
            class="position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary">
          </svg>
        </div>
      </div>
    </form>

    <!-- Tabel produk -->
    <div class="table-responsive" >
      <table [striped]="true" cTable class="align-middle">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">No Transaksi</th>
            <th scope="col">Tanggal Input</th>
            <th scope="col">Kasir</th>
            <th scope="col">Item</th>
            <th scope="col">Total</th>
            <th scope="col">Metode Pembayaran</th>
            <th scope="col">Status</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let penjualan of penjualans; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ penjualan.no_transaksi }}</td>
            <td>{{ penjualan.tanggal_input }}</td>
            <td>{{ penjualan.kasir }}</td>
            <td>{{ penjualan.item }}</td>
            <td>{{ formatRupiah(penjualan.total) }}</td>
            <td>{{ penjualan.metode_pembayaran.join(', ') }}</td>
            <td>
              <c-badge [color]="getStatusColor(penjualan.status)">
                {{ penjualan.status }}
              </c-badge>
            </td>
            <td>
              <button class="icon-button me-2 color-blue" (click)="onDetailPenjualan()">
                <i class="fa fa-eye"></i>
              </button>
              <app-modal-detail-components
                [visible]="visibleCreatePengeluaran"
                (visibleChange)="visibleCreatePengeluaran = $event" >
              </app-modal-detail-components>

              <button class="icon-button me-2">
                <svg [cIcon]="icons.cilPrint" width="16" height="16" class="color-blue"></svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <p class="text-muted small mb-0">
          Menampilkan 1–{{ penjualans.length }} dari {{ penjualans.length }} hasil
      </p>

      <c-pagination aria-label="Page navigation example">
        <li cPageItem>
          <a cPageLink aria-label="Previous" [routerLink]><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>1</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>2</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]>3</a>
        </li>
        <li cPageItem>
          <a cPageLink aria-label="Next" [routerLink]><span aria-hidden="true">&raquo;</span></a>
        </li>
      </c-pagination>
    </div>
   
  </c-card-body>
</c-card>
