:root {
  --cui-primary: #007bff !important;
  --cui-primary-rgb: 0, 123, 255 !important;

  /* (Opsional) Kalau ingin ubah warna hover juga */
  --cui-primary-hover: #0069d9 !important;
  --cui-primary-active: #0056b3 !important;
}