/* CoreUI Styles */
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);


/* ChartJS styles */
@use "@coreui/chartjs/scss/coreui-chartjs";

/* Custom theme and overrides */
@use "theme";
@use "custom";
@use "examples";

/* FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.min.css";


/* Global layout */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
